.mdf {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 2450px;
}

.mdf-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2450px;
  width: 78px;
  padding: 8px 14px;
  transition: all .5s ease;
  background-color: #f3fccd;
  z-index: 100;
}

.mdf-sidebar .sidebar-content .sidebar-content__logo {
  color: #740634;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.mdf-sidebar .sidebar-content .sidebar-content__logo i {
  font-size: 40px;
  margin-right: 5px;
}

.mdf-sidebar .sidebar-content .sidebar-content__logo .logo-name {
  font-size: 22px;
}

.mdf-sidebar .sidebar-content #mdf-btn {
  position: absolute;
  color: #740634;
  top: 0px;
  left: 50%;
  top: 5px;
  font-size: 26px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.mdf-sidebar .sidebar__list-items {
  margin-top: 20px;
}

.mdf-sidebar .sidebar__list-items .sidebar__list-item {
  position: relative;
  height: 60px;
  margin: 0 6px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  font-size: 20px;
  color: #740634;
}

.mdf-sidebar .sidebar__list-items .sidebar__list-item:hover .mdf-tooltip {
  transition: all .5s ease;
  top: 50%;
  opacity: 1;
}

.mdf-sidebar .sidebar__list-items .sidebar__list-item .sidebar__list-item__icon {
  color: #740634;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all .4s ease;
  border-radius: 8px;
  white-space: nowrap;
}

.mdf-sidebar .sidebar__list-items .sidebar__list-item .sidebar__list-item__icon .mdf-item-name {
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease;
}

.mdf-sidebar .sidebar__list-items .sidebar__list-item .sidebar__list-item__icon i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  align-items: center;
  text-align: center;
}

.mdf-sidebar .sidebar__list-items .sidebar__list-item .sidebar__list-item__icon:hover {
  color: #271616;
  background: #ffffff;
}

.mdf-tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #f3fccd;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(255, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.active {
  width: 260px;
}

.active .sidebar-content .sidebar-content__logo {
  opacity: 1;
  pointer-events: none;
  color: #740634;
}

.active .sidebar-content #mdf-btn {
  left: 90%;
}

.active .sidebar__list-items .sidebar__list-item .sidebar__list-item__icon .mdf-item-name {
  color: #740634;
  opacity: 1;
  pointer-events: auto;
}

.active .sidebar__list-items .sidebar__list-item .mdf-tooltip {
  display: none;
}

.mdf-hero {
  position: relative;
  height: 1230px;
  width: calc(100% - 260px);
  left: 260px;
  top: 0;
  transition: all 0.5s ease;
  z-index: 2;
}

.mdf-hero .mdf-hero__h2 {
  display: inline-block;
  font-size: 43px;
  color: #740634;
  margin: 16px 0 5px 0;
}

.mdf-hero .mdf-hero__about {
  width: 100%;
  height: 550px;
  background-color: #f3fccd;
  border-radius: 22px;
  position: relative;
  margin: 20px auto;
  right: 260px;
}

.mdf-hero .mdf-hero__about .mdf-hero__about-text {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.mdf-hero .mdf-hero__about .mdf-hero__about-text h3 {
  font-size: 38px;
  color: #740634;
}

.mdf-hero .mdf-hero__about .mdf-hero__about-text p {
  font-size: 30px;
}

.mdf-hero .mdf-hero__stuff {
  width: 100%;
  height: 550px;
  background-color: #dbfcbc;
  border-radius: 22px;
  position: relative;
  margin: 20px auto;
  right: 260px;
}

.mdf-hero .mdf-hero__stuff .mdf-hero__stuff-text {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.mdf-hero .mdf-hero__stuff .mdf-hero__stuff-text h3 {
  font-size: 38px;
  color: #740634;
}

.mdf-hero .mdf-hero__stuff .mdf-hero__stuff-text p {
  font-size: 30px;
}

.mdf-gallary {
  width: calc(100% - 260px);
  height: 550px;
  background-color: #e5e09b;
  margin: 20px 0 20px 0;
  right: 330px;
  border-radius: 22px;
  text-align: center;
}

.mdf-gallary h3 {
  font-size: 38px;
  color: #740634;
}
/*# sourceMappingURL=mdf.css.map */