@mixin sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2450px;
    width: 78px;
    padding: 8px 14px;
    transition: all .5s ease;
}

@mixin sidebarLogo {
    color: $sidebarIconsColor;
            display: flex;
            height: 50px;
            width: 100%;
            align-items: center;
            opacity: 0;
            pointer-events: none;
}

@mixin sidebarBtn {
    position: absolute;
            color: $sidebarIconsColor;
            top: 0px;
            left: 50%;
            top: 5px;
            font-size: 26px;
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
            transform: translateX(-50%);
}