@import "./_variables";
@import "./mixins";

.closets {
    @include body();
    background-color: $primaryBackgroundColor;
}

.closets-sidebar {
    @include sidebar();
    background-color: $primaryClosetColor;
    z-index: 100;

    .sidebar-content {

        .sidebar-content__logo {
            @include sidebarLogo();

            i {
                font-size: 40px;
                margin-right: 5px;
            }

            .logo-name {
                font-size: 22px;
            }
        }

        #closets-btn {
            @include sidebarBtn();
        }
    }

    .sidebar__list-items {
        margin-top: 20px;

        .sidebar__list-item {
            @include sidebarListItem();
            color: $sidebarIconsColor;

            &:hover {

                .closets-tooltip {
                    transition: all .5s ease;
                    top: 50%;
                    opacity: 1;
                }
            }

            .sidebar__list-item__icon {
                color: $sidebarIconsColor;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: all .4s ease;
                border-radius: 8px;
                white-space: nowrap;

                .closets-item-name {
                    opacity: 0;
                    pointer-events: none;
                    transition: all .5s ease;
                }

                i {
                    height: 50px;
                    min-width: 50px;
                    border-radius: 12px;
                    line-height: 50px;
                    align-items: center;
                    text-align: center;
                }

                &:hover {
                    color: #271616;
                    background: #ffffff;
                }
            }
        }
    }
}

.closets-tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: $primaryClosetColor;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(102, 26, 102, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.active {
    width: 260px;

    .sidebar-content {

        .sidebar-content__logo {
            opacity: 1;
            pointer-events: none;
            color: $sidebarIconsColor;
        }

        #closets-btn {
            left: 90%;
        }
    }

    .sidebar__list-items {

        .sidebar__list-item {

            .sidebar__list-item__icon {

                .closets-item-name {
                    color: $sidebarIconsColor;
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            .closets-tooltip {
                display: none;
            }
        }
    }
}

.closets-hero {
    @include hero();

    .closets-hero__h2 {
        display: inline-block;
        font-size: 43px;
        color: $sidebarIconsColor;
        margin: 16px 0 5px 0;
    }

    .closets-hero__about {
        @include heroAbout();
        background-color: $primaryClosetColor;

        .closets-hero__about-text {
            @include text();

            h3 {
                font-size: 38px;
                color: $sidebarIconsColor;
            }

            p {
                font-size: 30px;
            }
        }
    }

    .closets-hero__stuff {
        @include heroStuff();
        background-color: $primaryShowerColor;

        .closets-hero__stuff-text {
            @include text();

            h3 {
                font-size: 38px;
                color: $sidebarIconsColor;
            }
            
            p {
                font-size: 30px;
            }
        }
    }
}

.closets-gallary {
    @include gallary();
    background-color: $primaryMdfColor;

    h3 {
        font-size: 38px;
        color: $sidebarIconsColor;
    }

    .closets-gallary__slader {
        height: 500px;
        width: 75%;
        margin: 0 auto;
    
        .closets-gallary__slade {
            height: 500px;
            width: 340px;
            border: 2px solid rgb(187, 255, 0);
            margin: 8px;
        }
    }
}