.mdf {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    
    .mdf-hero {
        position: absolute;
        height: 100%;
        width: calc(100% - 240px);
        left: 240px;

        .mdf-hero__h2 {
            font-size: 33px;
            color: #2c1b3a;
            margin-top: 10px;
            margin-left: 12px;
        }
    }
}